@CHARSET "UTF-8";
			
			.main{
				position: relative;
				top: 80px;
				margin: auto;
				width: 450px;
				height: 500px;
				background: whitesmoke;
				border-radius: 5px;
			}
			.main #hand{
				text-align:center;
				background-color: #39B3D7;
				border-radius: 5px 5px 0 0;
				height:80px;
				line-height:60px;
				font-size:30px;
			}
			#sub{
				width: 100px;
				background: #5BC0DE;
				border: 1px solid #269ABC;
				border-radius: 5px;
			}
			
			#body{
				height: 40px;
			}
			#info{
				padding: 10px;
				float: left;
				background-color: #39B3D7;
				border-radius: 5px 0 0 5px;
			}
			
			#name,#password{
				height: 42px;
				width: 328px;
			}
			#info_pass{
				width: 50px;
				padding: 10px;
				float: left;
				background-color: #39B3D7;
				border-radius: 5px 0 0 5px;
			}
			#info_verify{
				padding: 10px;
				float: left;
				background-color: #39B3D7;
				border-radius: 5px 0 0 5px;
				height: 22px;
				
			}
			#code{
				height: 42px;
				margin-right: 5px;
				position: relative;
				top: -8px;
			}
			#flag{
				text-align: right;
			}
			#main_container{
				margin-left: 25px;
				margin-right:22px;
			}
			
			#info:hover, #info_pass:hover, #info_verify:hover, #sub:hover{
				background-color: #5E5E5E;
				color: #FFFF00;
			}
			#sub_mit{
				margin-bottom:10px;
				margin-top:40px;
			}
			#if_name,#if_password{
				display:block;
				height:40px;
				width:200px
				
			}
			#change{
				position:relative;
				top:10px;
				left:-75px;
			}
			
			